<div class="form-container">
    <h2>Adding User</h2>
    <form (ngSubmit)="onSubmit()" method="post">
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" [(ngModel)]="user.name" required>
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" [(ngModel)]="user.email" required>
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="text" id="password" name="password" [(ngModel)]="user.password" required>
        </div>
        <div>
            <button type="submit">Add</button>
        </div>
    </form>
</div>